:root {
  --bg-gradient: linear-gradient(rgb(254, 254, 254), rgb(230, 232, 236));
  --calc-bg-gradient: linear-gradient(rgb(254, 254, 254), rgb(230, 232, 236));
  --calc-shadow: 15px 15px 20px 5px rgba(0, 0, 0, 0.1);
  --theme-switch-txt: rgb(181, 183, 183);
  --calc-button-txt: rgb(78, 89, 96);
  --calc-button-bg: rgb(241, 243, 246);
  --calc-button-shadow: -2px -2px 4px 1px rgba(255, 255, 255, 0.9),
    2px 2px 5px 1px rgba(78, 89, 96, 0.3);
  --calc-yellow-dark-bg: rgb(252, 175, 52);
  --calc-yellow-dark-txt: white;
  --calc-yellow-dark-shadow: 2px 2px 5px 1px rgba(252, 175, 52, 0.5),
    -2px -2px 4px 1px rgba(255, 255, 255, 0.9);
  --calc-yellow-bg: rgb(241, 237, 223);
  --calc-yellow-txt: rgb(186, 159, 113);
  --calc-yellow-shadow: 2px 2px 5px 1px rgba(186, 159, 113, 0.3),
    -2px -2px 4px 1px rgba(255, 255, 255, 0.9);
  --calc-purple-bg: rgb(221, 207, 229);
  --calc-purple-txt: rgb(64, 9, 98);
  --calc-purple-shadow: 2px 2px 5px 1px rgba(64, 9, 98, 0.3),
    -2px -2px 4px 1px rgba(255, 255, 255, 0.9);
  --purple-dark-bg: rgb(144, 37, 233);
  --purple-dark-txt: white;
  --purple-dark-shadow: 2px 2px 5px 1px rgba(144, 37, 233, 0.5),
    -2px -2px 4px 1px rgba(255, 255, 255, 0.9);
  --delete-key-bg: rgb(229, 231, 235);
  --slider-bg: rgb(155, 161, 166);
  --slider-thumb: white;
  --display-txt: rgb(81, 93, 101);
  /* --slider-bg: linear-gradient(45deg, rgb(143, 152, 156), rgb(172, 179, 183)); */
}

.dark-mode {
  --bg-gradient: linear-gradient(rgb(47, 50, 52), rgb(32, 35, 38));
  --calc-bg-gradient: linear-gradient(rgb(76, 79, 79), rgb(30, 33, 36));
  --calc-shadow: 15px 15px 20px 5px rgba(27, 28, 30, 0.5);
  --theme-switch-txt: rgb(94, 98, 99);
  --calc-button-txt: rgb(170, 170, 170);
  --calc-button-bg: rgb(58, 59, 63);
  --calc-button-shadow: -2px -2px 4px 1px rgba(72, 72, 72, 0.7),
    2px 2px 5px 1px rgba(24, 22, 16, 0.9);
  --calc-yellow-dark-bg: rgb(252, 175, 52);
  --calc-yellow-dark-txt: white;
  --calc-yellow-dark-shadow: 2px 2px 5px 1px rgba(62, 55, 36, 0.6),
    -2px -2px 4px 1px rgba(139, 123, 79, 0.5);
  --calc-yellow-bg: rgb(79, 65, 61);
  --calc-yellow-txt: rgb(179, 154, 94);
  --calc-yellow-shadow: 2px 2px 5px 1px rgba(44, 42, 33, 0.5),
    -2px -2px 4px 1px rgba(77, 78, 78, 0.9);
  --calc-purple-bg: rgb(70, 51, 90);
  --calc-purple-txt: rgb(151, 115, 190);
  --calc-purple-shadow: 2px 2px 5px 1px rgba(21, 13, 53, 0.5),
    -2px -2px 4px 1px rgba(66, 66, 66, 0.9);
  --purple-dark-bg: rgb(144, 37, 233);
  --purple-dark-txt: white;
  --purple-dark-shadow: 2px 2px 5px 1px rgba(23, 13, 53, 0.5),
    -2px -2px 4px 1px rgba(73, 63, 76, 0.9);
  --delete-key-bg: rgb(45, 45, 49);
  --slider-bg: rgb(41, 43, 45);
  --slider-thumb: rgb(161, 162, 169);
  --display-txt: rgb(157, 164, 164);
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: var(--bg-gradient);
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-body {
  width: 320px;
  background: var(--calc-bg-gradient);
  border-radius: 1.25rem;

  padding: 1rem 1rem 0 1rem;
  box-shadow: var(--calc-shadow);
}
.top-display {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  overflow: hidden;
  height: 7rem;
  transition: 200ms;
  color: var(--display-txt);
  font-size: medium;
  mask-image: linear-gradient(rgba());
}
.top-display sup {
  margin-bottom: 5px;
}
.display sup {
  margin-bottom: 20px;
}
.display {
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
  transition: 200ms;
  font-size: 2rem;
  font-weight: bold;
  color: var(--display-txt);
}
.theme-button {
  display: flex;
  align-items: center;
  grid-column: span 3;
  font-size: 0.9em;
  color: var(--theme-switch-txt);
}
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 32px;
  margin-right: 0.5em;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--slider-bg);
  box-shadow: var(--calc-button-shadow);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 3px;
  bottom: 3px;
  background-color: var(--slider-thumb);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--slider-bg);
  box-shadow: var(--calc-button-shadow);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--slider-bg);
  box-shadow: var(--calc-button-shadow);
}
input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.keypad {
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.equal {
  grid-row: span 2;
}
.calc-button {
  border: none;
  font-size: 1.3rem;
  border-radius: 40px;
  background-color: var(--calc-button-bg);
  color: var(--calc-button-txt);
  box-shadow: var(--calc-button-shadow);
}
.exponent-down {
  background-color: var(--calc-yellow-dark-bg);
  color: var(--calc-yellow-dark-txt);
  box-shadow: var(--calc-yellow-dark-shadow);
  transition: 200ms;
}
.calc-button:active {
  transform: scale(0.95);
  transition: 200ms;
}
.equal {
  height: 100%;
}
.yellow-dark {
  background-color: var(--calc-yellow-dark-bg);
  color: var(--calc-yellow-dark-txt);
  box-shadow: var(--calc-yellow-dark-shadow);
}
.yellow {
  background-color: var(--calc-yellow-bg);
  color: var(--calc-yellow-txt);
  box-shadow: var(--calc-yellow-shadow);
}
.purple {
  background-color: var(--calc-purple-bg);
  color: var(--calc-purple-txt);
  box-shadow: var(--calc-purple-shadow);
}
.purple-dark {
  background-color: var(--purple-dark-bg);
  color: var(--purple-dark-txt);
  box-shadow: var(--purple-dark-shadow);
}
.del {
  background-color: var(--delete-key-bg);
}
footer {
  font-family: "Ms Madi", cursive;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 8px;
  color: var(--theme-switch-txt);
}
